<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ kategoriTerpilih }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let news of berita" [routerLink]="['/tabs/baca', news.id]">
  <ion-img [src]="news.cover"></ion-img>

  <ion-card-header>
      <ion-card-title>{{ news.judul }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="pricetag-outline"></ion-icon>
        {{ isArray(news.kategori) ? news.kategori.join(', ') : news.kategori }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="person-outline"></ion-icon>
      Penulis : {{ news.nama_lengkap }}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="calendar-outline"></ion-icon>
      Published : {{ news.tanggal_dibuat }}
    </ion-card-content>

    <!-- <ion-card-content>
      <p *ngIf="news.rating.length === 0">Belum ada rating.</p>
      <p>Rating : {{overallRating(news)}}</p>
    </ion-card-content> -->
    <ion-card-content>
      <p>Viewed {{news.views}} times</p>
    </ion-card-content> 
  </ion-card>

</ion-content>
