<ion-header>
  <ion-toolbar>
    <ion-title class="title">Selamat Datang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="subTitle">Sign in to access your account</p>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input name = "username" placeholder="Username" class="input" [(ngModel)]="username"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input name = "password" placeholder="Password" class="input" type="password" [(ngModel)]="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-button expand="block" (click)="login()">Login</ion-button>

      <div class="lupaPassword">
        <a style="color: #FFC33F">Lupa Password?</a>
      </div>

      <div class="signupLink">
        <p style="color:black">
          Belum punya akun?
          <a style="color: #FFC33F" [routerLink]="['/register']">Daftar Sekarang</a>
        </p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button [routerLink]="['/tabs/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
