<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cari" [routerLink]="['/tabs/cari']">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-favorite" [routerLink]="['/tabs/my-favorite']">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorit</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
