<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-menu auto-hide = "true" contentId="main-content">
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <ion-list>
          <ion-menu-toggle>
            <ion-item routerLink="/home">
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/cari">
                <ion-icon name="search" slot="start"></ion-icon>
                <ion-label>Cari Berita</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/my-favorite">
                <ion-icon name="bookmarks" slot="start"></ion-icon>
                <ion-label>Berita Favorit</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/newberita">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>Tambah Berita</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/hapus-berita">
                <ion-icon name="close" slot="start"></ion-icon>
                <ion-label>Hapus Berita</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/newkategori">
                <ion-icon name="add-circle" slot="start"></ion-icon>
                <ion-label>Tambah Kategori</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-item >
            <ion-button (click)="logout()">Logout</ion-button>
          </ion-item> -->

      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
