<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Halaman Cari Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Cari Judul Berita" [(ngModel)]="judulDicari" (ionInput)="filterNews()"
    show-clear-button="focus">
  </ion-searchbar>

  <ion-card *ngFor="let berita of beritaRelevan" (click)="clickBerita(berita)">
    <img alt="Silhouette of mountains" [src]="berita.cover" />
    <ion-card-header>
      <ion-card-title>{{ berita.judul }}</ion-card-title>
      <ion-card-subtitle> {{ isArray(berita.kategori) ? berita.kategori.join(', ') : berita.kategori }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Penulis : {{ berita.nama_lengkap }}
    </ion-card-content>
    <ion-card-content>
      Published : {{ berita.tanggal_dibuat}}
    </ion-card-content>
    <!-- <ion-card-content>
      <p *ngIf="berita.rating.length === 0">Belum ada rating.</p>
      <p>Rating : {{overallRating(berita)}}</p>
    </ion-card-content>
    <ion-card-content>
      <p>Viewed {{berita.views}} times</p>
    </ion-card-content> -->
  </ion-card>
</ion-content>