<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Baca Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin-bottom">
      Judul Berita : {{ berita[index].title }}
    </ion-item>
    <ion-item class="ion-margin-bottom">
      Penulis : {{ berita[index].author }}
    </ion-item>
    <ion-item class="ion-margin-bottom">
      Published : {{ berita[index].publishedDate }}
    </ion-item>
    <ion-item class="ion-margin-bottom">
      Kategori : {{ berita[index].category.join(', ') }}
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let img of berita[index].gambar">
          <ion-card>
            <img [src]="img" style="width: 100%; height: 150px; object-fit: cover; border-radius: 8px;" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item class="ion-margin-bottom">
      Isi Berita : {{ berita[index].description }}
    </ion-item>
  </ion-list>
</ion-content>
