<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Berita Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tambah Berita Baru</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-input label="Judul" labelPlacement="floating" placeholder="Masukkan Judul Berita" [(ngModel)]="judul_baru">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Description" labelPlacement="floating" rows="4" placeholder="Masukkan Deskripsi"
        [(ngModel)]="deskripsi">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Foto Berita</ion-label>
      <input type="file" multiple accept="image/*" (change)="onImageChange($event)">
    </ion-item>

    <ion-grid *ngIf="imagePreviews.length > 0">
      <ion-row>
        <ion-col size="4" *ngFor="let img of imagePreviews; let i = index">
          <ion-img [src]="img"></ion-img>
          <ion-button size="small" color="danger" expand="block" (click)="hapusFoto(i)">
            Hapus
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-select label="Kategori Berita" labelPlacement="floating" [(ngModel)]="list_kategori" multiple="true">
        <ion-select-option *ngFor="let k of kategoriList" [value]="k.id">
          {{ k.nama }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" id="btnsubmit" (click)="addBerita()">
      Tambahkan
    </ion-button>

    <ion-alert trigger="btnsubmit" header="Add Berita" message="Data berhasil ditambahkan!" [buttons]="alertButtons">
    </ion-alert>

  </ion-list>
</ion-content>