<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daftar Berita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="horizontal-slider">
    <div class="slide-item" *ngFor="let item of kategori" [style.background-image]="'url(' + item.image + ')'"
      [routerLink]="['/kategori', item.title]">
      <h2>{{ item.title }}</h2>
    </div>
  </div>


  <ion-card *ngFor="let news of berita" [routerLink]="['/tabs/baca', news.index]">
    <img alt="Silhouette of mountains" [src]="news.gambar" />
    <ion-card-header>
      <ion-card-title>{{ news.title }}</ion-card-title>
      <ion-card-subtitle> {{ news.category.join(', ') }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Penulis : {{ news.author }}
    </ion-card-content>
    <ion-card-content>
      Published : {{ news.publishedDate}}
    </ion-card-content>
    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>